
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<h2> You Can Contact Us By: </h2>
<ul>
    <li>
        Email: abc123@gmail.com
    </li>
    <li>
        Whatsapp: +966565555555
    </li>
    <li>
        Instagram: abc123
    </li>
    <li>
        Twitter: abc123
    </li>
</ul>
