@model HomeIndexViewModel 

@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Laptops Ecommerce Site</h1>
    <p><h5>... Welcome to the Laptops Ecommerce Site ...</h5></p>
</div>

